body {
    background: #4C4C4C !important;
}


/* Adding !important forces the browser to overwrite the default style applied by Bootstrap */


/*.navbar {
    font-family: "Old English Text MT", sans-serif !important; 

}
*/

#logo {
    font-size: 23px !important;
}

.Head {
    height: 100vh;
    /* background-color: rgba(30, 30, 30, 0.1) !important;*/
    background: url('../Images/dk040404.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*margin-top: 10vh;
    margin-bottom: 10vh;*/
}

.profile {
    width: 100vw;
    padding: 10px;
    background-color: rgba(10, 10, 10, 0.5);
}

.info-profile {
    padding-left: 10px;
    width: 600px !important;
}

.button-profile {
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.big {
    font-size: 10vh;
}

.profile-container {
    margin-top: 1rem !important;
}