body {
    background: #4C4C4C !important;
}


/* Adding !important forces the browser to overwrite the default style applied by Bootstrap */


/*.navbar {
    font-family: "Old English Text MT", sans-serif !important; 

}
*/

#logo {
    font-size: 23px !important;
}

.Head {
    height: 100vh;
    /* background-color: rgba(30, 30, 30, 0.1) !important;*/
    background: url('../Images/dk040404.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*margin-top: 10vh;
    margin-bottom: 10vh;*/
}

.profile {
    width: 100vw;
    padding: 10px;
    background-color: rgba(10, 10, 10, 0.5);
}

.info-profile {
    padding-left: 10px;
    width: 600px !important;
}

.button-profile {
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.big {
    font-size: 10vh;
}

.profile-container {
    margin-top: 1rem !important;
}

.staff {
    font-size: 40px;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    font-weight: bold;
}

.text-shadow-black {
    text-shadow: 2px 2px 1px black;
}

.text-shadow-white {
    text-shadow: 2px 2px 1px whitesmoke;
}

.text-shadow-slight-black {
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.6);
}

.bg-transparent-black {
    background-color: rgba(10, 10, 10, 0.5) !important;
}

.section-1 {
    height: 100vh !important;
    /*background-color: rgba(0, 0, 0, 1) !important;*/
    background: url('../Images/ines-alvarez-fdez-_HHjiseEuGw-unsplash_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section-2 {
    height: 85vh;
    /*background-color: rgba(0, 0, 0, 1) !important;*/
    background: url('../Images/jason-dent-itA0ybdIDTs-unsplash_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section-about {
    height: 85vh;
    /*background-color: rgba(0, 0, 0, 1) !important;*/
    background: url('../Images/plicu\ BG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer-content {
    position: absolute;
    width: 100%;
    bottom: 7.5vh;
    left: 0;
    text-align: center;
}

.text-slight-black {
    color: rgba(10, 10, 10, 1);
}

.image-about {
    width: 30vw;
}

@media only screen and (max-width: 950px) {
    .image-about {
        width: 80vw;
    }
}

.panel-resizable {
    resize: vertical;
    overflow: auto
}